/*
Format {
Size
Shape
Position
Color
Text
Function
}
*/


*{
    max-width: 100%;
    position: relative;
    font-family: sans-serif;
}

body {
    /*background-image: url("../images/manga_game_background.png");*/
    background-size: cover;
}

#title-box {
    font-family: sans-serif;
}

#title-box:focus{
    outline: 10px;
    outline-color: darkred;
    box-shadow: 0px 0px 5px darkred;
}

.vertical-center {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

h2 {
    display: block;
}

.category-text {
    align-self: center;
}

#answers-panel {
    width: 75%;
    height: 100%;

    float: right;
}

.answers-box {
    min-height: 60px;
    width: 100%;
}

#submitPanel {
    max-width: 25%;
    width: 25%;

    /*background-color: rgba(95, 0, 95, 0.75);*/
    
    border-radius: 5px;

    display: block;
    float: left;
}

/* Defaults to incorrect grey color */
.answers-category {
    width: 15%;
    min-height: 40px;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 3px;
    border-radius: 10px;
    padding: 5px;
    
    float: left;

    color: white;
    background-color: gray;

    text-align: center;
    p {display: block;}
}

.correct {
    background-color: rgb(8, 155, 8);
}

.close {
    background-color: rgb(187, 187, 11);
}

div.triangle-up {
    width: 0;
    height: 0;

    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-bottom: 10px solid #ffffff;

    float: left;
}

div.triangle-down {
    width: 0;
    height: 0;

    border-left: 10px solid transparent;
	border-right: 10px solid transparent;
	border-top: 10px solid #ffffff;

    float: left;
}


turn-counter {
    height: 50px;
    width: 50px;

    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    
    float: left;

    background-color: lightblue;
    color: white;

    font-size: larger;
    text-align: center;
    line-height: 50px;    
}

.shift-down-class {
    animation-name: shift-down;
    animation-duration: 5s;
}

@keyframes shift-down {
    0% {top:0px}
    10% {top: 60px}
}

.flip-up-class {
    animation-name: flip-up;
    animation-duration: 500ms;
    animation-timing-function: ease;
}

@keyframes flip-up {
    0% {transform: perspective(800px) rotateX(0);}
    100% {transform: perspective(800px) rotateX(360deg);}

}

#overlay {
    position: fixed; /* Sit on top of the page content */
    display: block; /* Hidden by default */
    width: 100%; /* Full width (cover the whole page) */
    height: 100%; /* Full height (cover the whole page) */
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /*background-color: rgba(0,0,0, 0);*/ /* Black background with opacity */
    z-index: 2; /* Specify a stack order in case you're using a different order for other elements */
}

@keyframes fade-in {
    0% {background-color: rgba(0,0,0,0);}
    100% {background-color: rgba(0,0,0,0.5);}
}

.on {
    background-color: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
    animation-name: fade-in;
    animation-duration: 2s;
}

.end-img {
    /*
    position: relative;
    margin-left: auto;
    margin-right: auto;
    */
    position: fixed;
    top: 20%;
    right: 80%;
    animation-name: img-appear;
    animation-duration: 3s;
}

@keyframes img-appear {
    0% {opacity: 0;}
    /*100% {}*/
}

.goButton {
    width: 50px;
    height: 20px;
}

button#submitButton {
    width: 60px;
    height: 30px;

    border: none;

    background-image: url("../images/GoButton.png");
    background-color: transparent;
    background-size: cover;

    cursor: pointer;
}

@media (max-width: 600px) {
    #answers-panel {
        width: 100%;
    }

    #submitPanel {
    max-width: 100%;
    width: 100%;

    /*background-color: rgba(95, 0, 95, 0.75);*/
    
    border-radius: 5px;

    display: block;
    }

    .answers-category {
    width: 30%;
    min-height: 40px;
    
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin-right: 3px;
    border-radius: 10px;
    padding: 5px;
    
    float: left;

    color: white;
    background-color: gray;

    text-align: center;
    p {display: block;}
    }

    .end-img {
    /*
    position: relative;
    margin-left: auto;
    margin-right: auto;
    */
    
    align-self: center;
    animation-name: img-appear;
    animation-duration: 3s;
}
}